header{
    margin-bottom: 3rem;
}
p{
    line-height: 1.6;
}
a.see-all{
    font-size: 0.8em;
    text-transform: uppercase;
}
h1{
    font-size: 2.5rem;
    border-top: solid; 

}
h2{
    font-size: 1rem;
    text-transform: uppercase;
}
body{
    font-weight: lighter
}
img{
    width: 100%;
}
.cast li{
    width: 25%;
    font-size: 0.8rem;
}
ul{
    font-weight: bold;
    color: black;
}
.cast div:nth-of-type(odd){
    font-weight:bold; 
 }

 .cast div:nth-of-type(even){
     font-style:italic;
 }
 
 #game-of-thrones li:nth-last-child(1):after{
     content:"*"
 }
 
 #game-of-thrones section:nth-child(2):after{
     content:"* Final Season";
     font-size:0.7rem;
     color: #999;
 }