body {
    
    font-family: 'Bangers', cursive;
    font-size: 25px;
    margin: 0;
   
}

.page {
    background-color: black;
    color: white;
}

nav {
    padding: 2% 0;
    font-size: 25px;
    text-align: center;
    
}

nav a {
    margin: 0 7%;
}

nav, #home {
    color: white;
    background-color: rgb(52, 184, 125)
}

#home img {
    width: 100%;
}

#home p {
    width: 75%;
    margin: auto;
    padding: 5% 0;
    font-size: 25px;
    text-align: center;
}



